<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Create a new list", new_list_path, class: "btn btn-primary m-2" %>
</div>
<div class="index-banner banner-background">
  <div class="text-center p-5 mb-3">
    <h1 >Welcome to Viddy's movie database</h1>
  </div>
</div>
<div class="container">
  <div class="grid-container">
    <% @lists.each do |list| %>
      <div class="card-product">
        <%= list.photo.attached? ? cl_image_tag(list.photo.key, height: 200, crop: :fill) : image_tag('https://picsum.photos/200', height: 200, crop: :fill) %>
        <div class="card-product-infos">
          <h2><%= list.name %></h2>
        </div>
        <%= link_to '', list_path(list), class: 'card-link'  %>
      </div>
    <% end %>
  </div>
</div>
<div class="index-banner banner-background grid-container-footer">
  <div class="container">
    <h5 class="text-center m-3">Made possible with help from Le Wagon Tokyo</h5>
  </div>
  <div class="container">
    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg" alt="TMDB logo" style="width: 24px heigth: 16px"  class="text-center m-4" >
  </div>
</div>
