.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 32px repeat(5, 1fr) 32px;
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
}

.grid-header {
  grid-column: 1 / 8;
}

 .list-title {
   grid-column: 2 / 5;
 }
 .grid-navbar {
   grid-column: 2 / 3;
 }

 .main {
   grid-column: 3 / 6;
 }

 .right-space {
   grid-column: 6 / 7;
 }

 .grid-footer {
   grid-column: 1 / 8;
 }
