.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr minmax(max-content, 1fr) 9fr minmax(max-content, 1fr) 1fr;
  grid-auto-rows: minmax(max-content, auto);
  gap: 1rem;
}

.grid-header, .grid-footer {
  grid-column: 1 / -1;
}

.list-title {
  grid-column: 3 / -6;
}
.grid-navbar {
  grid-column: 2 / 3;

}
.grid-navbar li {
  list-style: none;
}

.main-space {
  grid-column: 3 / 4;
}

.right-space {
  grid-column: 4 / 5;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1rem;
}

.main-grid-show {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  gap: 1rem;
}
